*{
font-family: 'Mulish', sans-serif;
color: #030303;
}
.background{
  background-color: #ffffff;
}
.lista{
  font-weight:700;
}


.intro-logo{
  font-family: 'Preahvihear', sans-serif;
  font-weight: bolder;
}
@media screen and (max-width: 768px){
  #pcvview{
    display:none;
  }
  #phoneview{
    display: flex;
  }
  #introsloggan{
    text-align: start;
    font-size: 2.6rem;
  }
}