*{
font-family: 'Mulish', sans-serif;
color: #030303;
}
.background{
  background-color: #ffffff;
}
.lista{
  font-weight:700;
}
.tittleintro{
  font-family: 'Preahvihear';
}

.intro-logo{
 font-family: 'Vast Shadow', cursive;
  font-weight: bolder;
}
@media screen and (max-width: 768px){
  #pcvview{
    display:none;
  }
  #phoneview{
    display: flex;
  }
  #introsloggan{
    padding-top: 2rem;
    text-align: start;
    font-size: 2.6rem;
  }
}