*{
font-family: 'Mulish', sans-serif;
color: #262602;
}
.background{
  background-color: #fdfde2;
}
.lista{
  font-weight:700;
}


.intro-logo{
  font-family: 'Preahvihear', sans-serif;
  font-weight: bolder;
}